@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    padding-top: 100px;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.left-faceted {
    background-color: #eeeeee;

}

.card-filter::after {
    font-family: "FontAwesome";
    content: "\f068";
    float: right;
}

.card-filter.collapsed::after {
    font-family: "FontAwesome";
    content: "\f067";
}

.card-filter-body {
    overflow-y: scroll !important;
    max-height: 200px !important;
}