{% extends 'pages/layout.html' %}
{% block container %}

    <div class="row">
        <div class="col-md-3 left-faceted">
            <br>
            <h4>Faceted Search</h4>
            <hr>
        </div>
        <div class="col-xs-12 col-md-9">

                <h3>{{ posts.title }}</h3>
                <p>Created: {{ posts.created_date }}</p>
                <p>Published: {{ posts.published_date }}</p>
                <p>Graph: {{ posts.graph }}</p>
                <p>Subject: {{ posts.subject }}</p>
                <p>Result: {{ posts.result }}</p>

            <div id="curved-link"></div>
        </div>
    </div>



{% endblock %}