{% extends 'pages/layout.html' %}
{% block container %}

    <div class="row">
        <div class="col-md-3 left-faceted">
            <br>
            <h4>Faceted Search</h4>
            <hr>

            <div id="accordion" class="accordion">
                {#        Group #iterative        #}
                <form id="filter_facet">
                    {% csrf_token %}
                    {% for key, value in filter_facets.items %}
                        <div class="card">
                            <div class="card-header collapsed" id="{{ key }}" data-toggle="collapse"
                                 data-target="#collapse{{ key }}"
                                 aria-expanded="false" aria-controls="collapse{{ key }}">
                                {{ key }}
                            </div>
                            <div id="collapse{{ key }}" class="collapse" aria-labelledby="{{ key }}"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-group">
                                        {#                                    <form id="filter_{{ key }}">#}

                                        {% for v in value %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="{{ key }}"
                                                       value="{{ v }}"
                                                       id="checked{{ v }}"/>
                                                <label class="form-check-label" for="checked{{ v }}">{{ v }}</label>
                                            </div>
                                        {% endfor %}
                                        {#                                    </form>#}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>

        </div>
        <div class="col-xs-12 col-md-9">

            <h3>{{ posts.title }}</h3>
            <p>Created: {{ posts.created_date }}</p>
            <p>Published: {{ posts.published_date }}</p>
            <p>Graph: {{ posts.graph }}</p>
            <p>Subject: {{ posts.subject }}</p>
            {#            <p>Result: {{ posts.result }}</p>#}


            <div id="svg-body" class="panel-body"></div>
            {#            <ul>#}
            {#                {% for each in posts.result %}#}
            {#                    <li>{{ each }}</li>#}
            {#                {% endfor %}#}
            {#            </ul>#}

        </div>
    </div>
{% endblock %}
{% block javascript %}
    <style type="text/css">
        .node {
            stroke: #fff;
            fill: #ddd;
            stroke-width: 1.5px;
        }

        .link {
            fill: none;
            stroke: #999;
            stroke-opacity: .6;
            stroke-width: 1px;
        }

        marker {
            stroke: #999;
            fill: rgba(124, 240, 10, 0);
        }

        .node-text {
            font: 11px sans-serif;
            fill: black;
        }

        .link-text {
            font: 9px sans-serif;
            fill: grey;
        }

        svg {
            border: 1px solid black;
        }
    </style>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>
        var margin = {top: 20, right: 50, bottom: 20, left: 150},
            w = 800 - margin.right - margin.left,
            h = 600 - margin.top - margin.bottom;

        var triples = {{ posts.result | safe }};

        var zoom = d3.behavior.zoom()
            .scaleExtent([0.3, 5])
            .on("zoom", zoomed);

        var svg = d3.select("#svg-body").append("svg")
            .attr("width", w + margin.right + margin.left)
            .attr("height", h + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.right + ")")
            .call(zoom);

        var container = svg.append("g");

        var force = d3.layout.force().size([w, h]);

        var graph = triplesToGraph(triples);

        update();
        console.log(graph);


        function filterNodesById(nodes, id) {
            return nodes.filter(function (n) {
                return n.id === id;
            });
        }

        function filterNodesByType(nodes, value) {
            return nodes.filter(function (n) {
                return n.type === value;
            });
        }

        function triplesToGraph(triples) {

            {#svg.html("");#}
            //Graph
            var graph = {nodes: [], links: [], triples: []};

            //Initial Graph from triples
            triples.forEach(function (triple) {
                var subjId = triple.subject;
                var predId = triple.predicate;
                var objId = triple.object;

                var subjNode = filterNodesById(graph.nodes, subjId)[0];
                var objNode = filterNodesById(graph.nodes, objId)[0];

                if (subjNode == null) {
                    subjNode = {id: subjId, label: subjId, weight: 1, type: "node"};
                    graph.nodes.push(subjNode);
                }

                if (objNode == null) {
                    objNode = {id: objId, label: objId, weight: 1, type: "node"};
                    graph.nodes.push(objNode);
                }

                var predNode = {id: predId, label: predId, weight: 1, type: "pred"};
                graph.nodes.push(predNode);

                var blankLabel = "";

                graph.links.push({source: subjNode, target: predNode, predicate: blankLabel, weight: 1});
                graph.links.push({source: predNode, target: objNode, predicate: blankLabel, weight: 1});

                graph.triples.push({s: subjNode, p: predNode, o: objNode});

            });

            return graph;
        }


        function update() {
            // ==================== Add Marker ====================
            svg.append("svg:defs").selectAll("marker")
                .data(["end"])
                .enter().append("svg:marker")
                .attr("id", String)
                .attr("viewBox", "0 -5 10 10")
                .attr("refX", 30)
                .attr("refY", -0.5)
                .attr("markerWidth", 6)
                .attr("markerHeight", 6)
                .attr("orient", "auto")
                .append("svg:polyline")
                .attr("points", "0,-5 10,0 0,5")
            ;

            // ==================== Add Links ====================
            var links = container.append("g")
                .selectAll(".link")
                .data(graph.triples)
                .enter()
                .append("path")
                .attr("marker-end", "url(#end)")
                .attr("class", "link")
            ;

            // ==================== Add Link Names =====================
            var linkTexts = container.append("g")
                .selectAll(".link-text")
                .data(graph.triples)
                .enter()
                .append("text")
                .attr("class", "link-text")
                .text(function (d) {
                    return d.p.label;
                })
            ;
            //linkTexts.append("title")
            //		.text(function(d) { return d.predicate; });

            // ==================== Add Link Names =====================
            var nodeTexts = container.append("g")
                .selectAll(".node-text")
                .data(filterNodesByType(graph.nodes, "node"))
                .enter()
                .append("text")
                .attr("class", "node-text")
                .text(function (d) {
                    return d.label;
                })
            ;
            //nodeTexts.append("title")
            //		.text(function(d) { return d.label; });

            // ==================== Add Node =====================
            var nodes = container.append("g")
                .selectAll(".node")
                .data(filterNodesByType(graph.nodes, "node"))
                .enter()
                .append("circle")
                .attr("class", "node")
                .attr("r", 8)
                .call(force.drag)
            ;//nodes

            // ==================== Force ====================
            force.on("tick", function () {
                nodes
                    .attr("cx", function (d) {
                        return d.x;
                    })
                    .attr("cy", function (d) {
                        return d.y;
                    })
                ;

                links
                    .attr("d", function (d) {
                        return "M" + d.s.x + "," + d.s.y
                            + "S" + d.p.x + "," + d.p.y
                            + " " + d.o.x + "," + d.o.y;
                    })
                ;

                nodeTexts
                    .attr("x", function (d) {
                        return d.x + 12;
                    })
                    .attr("y", function (d) {
                        return d.y + 3;
                    })
                ;

                linkTexts
                    .attr("x", function (d) {
                        return 4 + (d.s.x + d.p.x + d.o.x) / 3;
                    })
                    .attr("y", function (d) {
                        return 4 + (d.s.y + d.p.y + d.o.y) / 3;
                    })
                ;
            });

            // ==================== Run ====================
            force
                .nodes(graph.nodes)
                .links(graph.links)
                .charge(-500)
                .linkDistance(20)
                .start()
            ;
        }

        function zoomed() {
            container.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
        }

        {#function filtering(filter_id) {#}
        {#    $.ajax({#}
        {#        url: '{% url 'filter_detail' %}',#}
        {#        data: $('#filter_' + filter_id).serialize(),#}
        {#        type: 'POST',#}
        {#        success: function (response) {#}
        {#            console.log(response);#}
        {#            alert(response.status + " & " + response.filter_name)#}
        {#            d3.select("svg").remove();#}
        {#            svg = d3.select("#svg-body").append("svg")#}
        {#                .attr("width", w + margin.right + margin.left)#}
        {#                .attr("height", h + margin.top + margin.bottom)#}
        {#                .append("g")#}
        {#                .attr("transform", "translate(" + margin.left + "," + margin.right + ")")#}
        {#                .call(zoom);#}
        {#            container = svg.append("g");#}
        {#            triples = response.query#}
        {#            graph = triplesToGraph(triples);#}
        {#            update();#}
        {#            console.log(graph);#}
        {#        },#}
        {#        error: function (error) {#}
        {#            console.log(error);#}
        {#        }#}
        {#    });#}
        {#\}#}

        $(function () {
            $("#filter_facet").on('change', function (e) {
                $.ajax({
                    url: '{% url 'filter_detail' %}',
                    data: $('#filter_facet').serialize(),
                    type: 'POST',
                    success: function (response) {
                        console.log(response);
                        alert(response.status + " & " + response.filter_name)
                        d3.select("svg").remove();
                        svg = d3.select("#svg-body").append("svg")
                            .attr("width", w + margin.right + margin.left)
                            .attr("height", h + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform", "translate(" + margin.left + "," + margin.right + ")")
                            .call(zoom);
                        container = svg.append("g");
                        triples = response.query
                        graph = triplesToGraph(triples);
                        update();
                        console.log(graph);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                e.preventDefault();
            });
            {#$(document).on('change', 'input[name="PJyear"]', function (e) {#}
            {#var val = $(this).val();#}
            {#    filtering('PJyear');#}
            {#    e.preventDefault();#}
            {#\});#}
            {##}
            {#$(document).on('change', 'input[name="PJstatus"]', function (e) {#}
            {#var val = $(this).val();#}
            {#    filtering('PJstatus');#}
            {#    e.preventDefault();#}
            {#\});#}
        });
    </script>

{% endblock %}