{% extends 'pages/layout.html' %}
{% load staticfiles %}
{% block header %}
    <link href="https://unpkg.com/event-drops/dist/style.css" rel="stylesheet"/>

{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-3 left-faceted">
            <br>
            <form id="filter_facet">
                {% csrf_token %}
                <h4>Faceted Search
                    <button class="btn btn-outline-success" type="submit">Reset</button>
                </h4>
                <hr>
                <div id="accordion" class="accordion">
                    {#        Group #iterative        #}
                    <input type="hidden" name="subject_domain" value="{{ posts.subject }}">
                    <input type="hidden" name="date_show" value="{{ dateShow }}">
                    <input type="hidden" name="prefixes_query" value="{{ filter_prefix }}">
                    {% for key, value in filter_facets.items %}
                        <div class="card">
                            <div class="card-header collapsed card-filter" id="{{ key }}" data-toggle="collapse"
                                 data-target="#collapse{{ key }}"
                                 aria-expanded="false" aria-controls="collapse{{ key }}">
                                {{ value.1 }}
                            </div>
                            <div id="collapse{{ key }}" class="collapse card-filter-body" aria-labelledby="{{ key }}"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-group">
                                        {% for v in value.0 %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="{{ key }}"
                                                       value="{{ v }}"
                                                       id="checked{{ v }}"/>
                                                <label class="form-check-label d-block"
                                                       for="checked{{ v }}">{{ v }}</label>
                                            </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-md-9">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <br>
                    <h3 class="text-center">{{ posts.title }}</h3>
                    <br>
                </div>
            </div>
            <div class="progress" id="progress_bar" style="display: none">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
            <div id="eventdrops-demo" style="width: 100%;"></div>
            <p class="infos text-right">
                <span class="light">All </span><span id="numberCommits" class="text-info"></span> <span class="light">found between</span> <br/>
                <span id="zoomStart" class="text-info"></span> <span class="light">and</span> <span id="zoomEnd" class="text-info"></span>
            </p>
            <div class="text-right">
                <label class="text-info small">Domain: {{ posts.subject }}</label>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script src="https://unpkg.com/d3"></script>
    <script src="{% static 'timeline/timeline_index.js' %}"></script>
{#    <script src="https://unpkg.com/event-drops"></script>#}

    <script>
        var options = {year: 'numeric', month: 'long', day: 'numeric'};
        {#var content;#}

        const repositories = {{ new_results | safe }};

        const numberCommitsContainer = document.getElementById('numberCommits');
        const zoomStart = document.getElementById('zoomStart');
        const zoomEnd = document.getElementById('zoomEnd');

        const tooltip = d3
            .select('body')
            .append('div')
            .classed('tooltip', true)
            .style('opacity', 0)
            .style('pointer-events', 'auto');

        function updated(dateShow) {
            const chart = eventDrops({
                {#locale: usLocale,#}
                d3,
                zoom: {
                    onZoom: () => updateCommitsInformation(chart),
                },
                bound: {
                    format: d3.timeFormat('%B %d, %Y'),
                },
                range: {
                    start: new Date(new Date().getTime() - 3600000 * 24 * 365 * 10), // 10 year ago
                    {#end: new Date(),#}
                },
                label: {
                        padding: 20,
                        text: d => {
                            var text_l = d.name.length;
                            if (text_l > 20){
                                return `${d.name.slice(0,20)}... (${d.data.length})`
                            }
                            else{
                                return `${d.name} (${d.data.length})`
                            }
                        },
                        width: 200,
                },

                drop: { //drops ----- Default: row => row.data
                    date: d => new Date(d[dateShow]), //Default: d => new Date(d)
                    onMouseOver: commit => {
                        {#console.log(commit);#}
                        tooltip
                            .transition()
                            .duration(200)
                            .style('opacity', 1)
                            .style('pointer-events', 'auto');

                        tooltip
                            .html(
                                function () {
                                    var content = `
                        <div class="commit">
                        <div class="content">
                            <h4 class="message">${commit.subject}</h4>
                                `;
                                    for (var key in commit) {
                                        content = content + '<label class="text-success">' + key + '</label>: ' + commit[key] + '</br>';
                                    }
                                    return content + '</div></div>';
                                }

                        {#        `#}
                        {#<div class="commit">#}
                        {#<div class="content">#}
                        {#    <h4 class="message">${commit.subject}</h4>#}
                        {#    <p>#}
                        {#        <a href="https://www.github.com/${commit.PJyear}" class="author">${commit.PJstatus}</a>#}
                        {#        on <span class="date">${new Intl.DateTimeFormat('en-US', options).format(new Date(commit.PJstart))}</span> -#}
                        {#        <a class="sha" href="${commit.isRelatedTo}">${commit.isRelatedTo.slice(0, -5)}</a>#}
                        {#    </p>#}
                        {#</div>#}
                    {#`#}
                    )
                            .style('left', `${d3.event.pageX - 30}px`)
                            .style('top', `${d3.event.pageY + 20}px`);
                    },
                    onMouseOut: () => {
                        tooltip
                            .transition()
                            .duration(3000)
                            .style('opacity', 0)
                            .style('pointer-events', 'none');
                    },
                },
            });
            return chart;
        }

        const chart = updated("{{ dateShow }}");
        const repositoriesData = repositories.map(repository => ({
            name: repository.name,
            data: repository.commits,
        }));

        console.log(repositories);
        console.log(repositoriesData);
        d3.select('#eventdrops-demo')
            .data([repositoriesData])
            .call(chart);

        const updateCommitsInformation = chart => {
            const filteredData = chart
                .filteredData()
                .reduce((total, repo) => total.concat(repo.data), []);
            var font = "{{ posts.subject }}";
            numberCommitsContainer.textContent = "{{ dateShow }} of " + font.split('#').reverse()[0] + " (s)";
            {#numberCommitsContainer.textContent = filteredData.length + " " + font.split('#').reverse()[0] + " (s)";#}
            zoomStart.textContent = new Intl.DateTimeFormat('en-US', options).format(new Date(chart.scale().domain()[0]));
            zoomEnd.textContent = new Intl.DateTimeFormat('en-US', options).format(new Date(chart.scale().domain()[1]));
        };

        updateCommitsInformation(chart);

        function categorizeData(filters, datas){
            var resultData = datas;
            filters.forEach(function(filter){
                datas.forEach(function (data) {
                    if (data.name == "All") {
                        var tmp = {"name": filter, "commits": []};
                        data.commits.forEach(function (obj, index) {
                            Object.keys(obj).forEach(function (key) {
                                if (obj[key] == filter){
                                    tmp.commits.push(data.commits[index]);
                                }
                            });
                        });
                        resultData.push(tmp);
                    }
                });
            });
            return resultData;
        }

        var stop_progress_running;
        $(document).ready(function () {
            //$("#progress_bar").hide();
            //$("#filter_facet").submit(function (e) {
            $("#filter_facet").on('change', function (e) {
                $.ajax({
                    url: '{% url 'filter_timeline' %}',
                    data: $('#filter_facet').serialize(),
                    type: 'POST',
                    beforeSend: function() {
                        $("#filter_facet :input").attr("disabled", true);
                        progress_running();
                        d3.select("svg").remove();
                    },
                    success: function (response) {
                        progress_stopping();
                        $("#filter_facet :input").attr("disabled", false);
                        console.log(response);
                        {#alert(response.filter_name);#}
                        // d3.select("svg").remove();
                        const repositories = categorizeData(response.filter_name, response.query);
                        const repositoriesData = repositories.map(repository => ({
                            name: repository.name,
                            data: repository.commits,
                        }));
                        const chart = updated(response.dateShow);
                        console.log(repositories);
                        console.log(repositoriesData);
                        d3.select('#eventdrops-demo')
                            .data([repositoriesData])
                            .call(chart);
                        updateCommitsInformation(chart);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                e.preventDefault();
            });
        });

        function progress_running() {
            $(".progress-bar").css("width", 0 + "%").attr("aria-valuenow", 0).text('');
            $("#progress_bar").show();
            var stops = [25, 55, 85, 99];
            $.each(stops, function (index, value) {
                stop_progress_running = setTimeout(function () {
                    $(".progress-bar").css("width", value + "%").attr("aria-valuenow", value).text(value + '%');
                }, index * 300);
            });

        }

        function progress_stopping() {
            clearTimeout(stop_progress_running);
            $(".progress-bar").css("width", 0 + "%").attr("aria-valuenow", 0).text('');
            $("#progress_bar").hide();
        }
    </script>
{% endblock %}