{% extends 'pages/layout.html' %}
{% load staticfiles %}
{% block header %}
    <link href="https://unpkg.com/event-drops/dist/style.css" rel="stylesheet"/>

{% endblock %}
{% block container %}
    <div class="row">
        <div id="eventdrops-project" style="width: 90%;"></div>
        <div id="eventdrops-demo" style="width: 90%;"></div>
        <p class="infos">
            <span id="numberCommits"></span> commits <span class="light">found between</span> <br/>
            <span id="zoomStart"></span> <span class="light">and</span> <span id="zoomEnd"></span>
        </p>
    </div>

{% endblock %}
{% block javascript %}
    <script src="https://unpkg.com/d3"></script>
    <script src="https://unpkg.com/event-drops"></script>

    <script>
        var options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'};
        const tooltip = d3
            .select('body')
            .append('div')
            .classed('tooltip', true)
            .style('opacity', 0)
            .style('pointer-events', 'auto');

        const chart = eventDrops({
            {#locale: usLocale,#}
            d3,
            {#zoom: {#}
            {#    onZoomEnd: () => updateCommitsInformation(chart),#}
            {#\},#}

            drop: { //drops ----- Default: row => row.data
                date: d => new Date(d.PJstart), //Default: d => new Date(d)
                onMouseOver: commit => {
                    tooltip
                        .transition()
                        .duration(200)
                        .style('opacity', 1)
                        .style('pointer-events', 'auto');

                    tooltip
                        .html(
                            function () {
                                var content = `
                    <div class="commit">
                    <div class="content">
                        <h4 class="message">${commit.subject}</h4>
                            `;
                                for (var key in commit) {
                                    content = content + '<label class="text-success">' + key + '</label>: ' + commit[key] + '</br>';
                                }
                                return content + '</div>';
                            }

                            {#${commit.PJstatus}</a>#}
                            {#on <span class="date">${new Intl.DateTimeFormat('en-US', options).format(new Date(commit.PJstart))}</span> -#}
                            {#<a class="sha" href="${commit.isRelatedTo}">${commit.isRelatedTo.slice(0, -5)}</a>#}
                )
                        .style('left', `${d3.event.pageX - 30}px`)
                        .style('top', `${d3.event.pageY + 20}px`);
                },
                onMouseOut: () => {
                    tooltip
                        .transition()
                        .duration(3000)
                        .style('opacity', 0)
                        .style('pointer-events', 'none');
                },
            },
        });

        const repositories = {{ posts | safe }};


        const repositoriesData = repositories.map(repository => ({
            name: repository.name,
            data: repository.commits,
        }));

        console.log(repositories);
        console.log(repositoriesData);
        d3.select('#eventdrops-demo')
            .data([repositoriesData])
            .call(chart);
    </script>
{% endblock %}